.text {
  line-height: 22px;
  margin: 0;
  font-size: 1rem;
}

.header {
  font-size: 36px;
  letter-spacing: 2px;
}

.headerSubText {
  font-size: 18px;
}

.subText {
  font-size: 14px;
  color: #8491A3;
  margin: 0;
  line-height: 22px;
}

.white {
  color: #FFF;
}
