.header {
  width: 100%;
  padding: 11px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1D21;
  position: fixed;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  height: 60px;

  .left {
    display: flex;
    align-items: center;

    a {
      margin-right: 42px;
      color: #FFF;
      font-size: 18px;
    }
  }

  .right {
    display: flex;
    align-items: center;

    a {
      margin-left: 42px;
      color: #FFF;  
      font-size: 18px;
    }
  }
}

.header:after {
  margin-top: 60px;
}